*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
}

body {
  overflow: hidden;
  background-color: #d2cfc8;
  cursor: grab;
  --dotSize: 2px;
  --bgSize: 25px;
  --dotColor: #888;
  --bgPosition: calc(var(--bgSize) / 2);

  --stop1: 0.06rem;
  --stop2: 0.65rem;

  background-image: radial-gradient(circle at center, var(--dotColor) var(--dotSize), transparent 0), radial-gradient(circle at center, var(--dotColor) var(--dotSize), transparent 0);
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

.webgl,
#loader {
  position: fixed;
  top: 0;
  left: 0;
}

#loader {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: #FAEDCD;
}

body,
html,
#glcanvas {
  overflow: hidden
}